*{

    margin:0;
    padding:0;
    box-sizing:border-box;

    font-family:Arial, sans-serif;

}



body{

    background:#f2f4f7;

    padding:40px;

}



.container{


    max-width:700px;

    margin:auto;

    background:white;

    padding:25px;

    border-radius:10px;

    box-shadow:
    0 5px 15px rgba(0,0,0,0.1);


}



h1{

    text-align:center;

    margin-bottom:25px;

    color:#2c3e50;

}



label{

    display:block;

    margin-top:15px;

}



input{

    width:100%;

    padding:10px;

    margin-top:5px;

    border:1px solid #ccc;

    border-radius:5px;

}



.button{

    margin-top:20px;

}



button{


    padding:10px 20px;

    background:#b3aa5a;

    color:white;

    border:none;

    border-radius:5px;

    cursor:pointer;

    margin-right:10px;


}



button:hover{

    background:#2980b9;

}



table{

    width:100%;

    margin-top:20px;

    border-collapse:collapse;

}



th, td{

    border:1px solid #ddd;

    padding:10px;

    text-align:center;

}



th{

    background:#cfc672;

    color:white;

}