*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f4f4;
    padding:30px;
}

.container{
    max-width:800px;
    margin:auto;
    background:white;
    padding:25px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

h1{
    color:#2c3e50;
    margin-bottom:20px;
}

h2{
    margin-top:20px;
    margin-bottom:10px;
}

input{
    width:100%;
    padding:10px;
    margin:10px 0;
}

button{
    padding:10px 15px;
    border:none;
    background:#b7c0c5;
    color:white;
    cursor:pointer;
    border-radius:5px;
}

button:hover{
    background:#2980b9;
}

p{
    margin-top:10px;
}

ul{
    margin-top:10px;
    padding-left:20px;
}

hr{
    margin:25px 0;
}